@model IEnumerable<MyFirstWeb.Models.ProductModel>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container d-flex flex-wrap">
    @foreach(var item in Model)
    {
        var s = item.Name;
        var firstWord = s.IndexOf(" ") > -1 ? s.Substring(0, s.IndexOf(" ")) : s;
        <div class="card" style="width: 18rem;">
            <img src="https://loremflickr.com/g/150/150/@firstWord?lock=@item.Id" class="card-img-top" alt="@item.Name">
            <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text">@Html.DisplayFor(m=>item.Price)</p>
            <!--<p class="card-text">@item.Description</p>-->
            <a href="/Products/ShowProductDetail/@item.Id" class="btn btn-primary">Detail</a>
            <a href="/Products/Edit/@item.Id" class="btn btn-warning">Edit</a>
            <a href="/Products/Delete/@item.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>



<!---
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
--->
